.weather-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  width: 100%;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;
  text-align: center;
  margin: 0 auto;
  background-color: #ccc;
}

.search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  background-color: rgb(250, 245, 245);
  padding: 0 0 20px 0;
}

.search-title {
  width: 60%;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  text-align: center;
  margin: 20px auto 6px auto;
}

.search-field {
  width: 100%;
}

.search-input {
  width: 20%;
  height: 28px;
  margin: 0;
  outline: none;
  border: 1px solid #CCC;
  border-radius: 10px 0px 0px 10px;
  padding: 0 0 0 5px;
  margin: 0;
  outline: none;
}

@media (max-width: 810px) {
  .search-input {
    width: 30%;
  }
}

@media (max-width: 490px) {
  .search-input {
    width: 40%;
  }
}

.search-button {
  width: 8%;
  height: 30px;
  border: 1px solid #CCC;
  border-radius: 0 10px 10px 0;
  background-color: rgb(8, 231, 247);
  text-align: center;
  line-height: 20px;
  font-family: 'Roboto';
  font-style:  normal;
  font-weight: 700;
  margin: -1px 0 0 0;
  padding: 0;
}

@media (max-width: 900px) {
  .search-button {
    width: 15%;
  }
}

@media (max-width: 520px) {
  .search-button {
    width: 20%;
  }
}

@media (max-width: 370px) {
  .search-button {
    width: 25%;
  }
}

.search-button:hover {
  opacity: 0.8;
}

.search-button:active {
  opacity: 0.5;
}

.search-button:focus {
  outline: none;
}

.weather-info {
  background-color: rgb(250, 245, 245);
  padding: 0 0 30px 0;
  width: 100%;
}

.weather-card-now {
  width: 50%;
  height: 30%;
  border-radius: 10px;
  margin: 20px auto 0 auto;
  border: 3px solid rgb(8, 231, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  font-size: 1em;
  background-color: rgb(240, 239, 239);
}

@media (max-width: 890px) {
  .weather-card-now {
    width: 70%;
  }
}

@media (max-width: 640px) {
  .weather-card-now {
    width: 80%;
  }
}

@media (max-width: 550px) {
  .weather-card-now {
    width: 90%;
    font-size: .9em;
  }
}

.weather-card-now__title {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  margin: 0 auto 5px auto;
  font-size: 2vh;
  background-color: rgb(8, 231, 247);
}

.weather-card-now__text {
  margin: 5px 0 5px 0;
}

@media (max-width: 550px) {
  .weather-card-now__text {
    margin: 5px 0 5px 15px;
  }
}

.weather-card-now__icon {
  font-size: 50px;
}

.weather-cards-week {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  list-style-type: none;
  margin: 30px auto 0 auto;
  justify-content: center;
  justify-items: center;
}

@media (max-width: 1048px) {
  .weather-cards-week {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (max-width: 662px) {
  .weather-cards-week {
    grid-template-columns: 1fr 1fr;
    margin: 30px 30px 0 auto;
  }
}

@media (max-width: 460px) {
  .weather-cards-week {
    grid-template-columns: 1fr;
  }
}

.weather-card-week {
  width: 90%;
  border-radius: 10px;
  border: 3px solid rgb(8, 231, 247);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Source Sans Pro';
  font-weight: 700;
  margin: 0 0 20px 0;
  background-color: rgb(240, 239, 239);
}

.weather-card-week__title {
  width: 100%;
  text-align: center;
  padding-top: 5px;
  margin: 0 auto 5px auto;
  font-size: 2vh;
  background-color: rgb(8, 231, 247);
}

.weather-card-week__text {
  margin: 5px 0 5px 0;
}

.preloader {
	display: block;
  width: 74px;
  height: 74px;
  border: 1px solid #444;
  border-bottom-color: #888;
  border-radius: 50%;
  animation: spin .75s infinite linear;
  margin: 79px 0px 22px 16px
}

@keyframes spin {
	100% {
		transform: rotate(360deg);
	}
}

.error-block {
  width: 100%;
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: normal;
  font-size: 5vh;
  text-align: center;
  margin: 0 auto;
  background-color: #ccc;
}
